@charset "utf-8";
.main_container{
   display: flex;
   flex: 1;
}
html{
   font-family: メイリオ,"Arial Black", monospace;
   height: 2000px;
   margin: 0px;
}
body{
   margin: 0px;
   height: 100%;
   display: flex;
   flex-direction: column;
}
header{
   height: 100px;
   width: 100%;
   color: blue;
   background-color: lightcoral;
   display: flex;
   align-items: center;
   position: fixed;
}

header > img{
   margin-left: 30px;
}

main{
   color: aquamarine;
   background-color: seagreen;
   flex: 1;
}
#left_navigation{
   background-color: midnightblue;
   width: 150px;
   order: -1;
}
aside{
   background-color: blueviolet;
   width: 200px;
}
footer{
   background-color: gold;
}

header > nav{
   margin-left: auto;
}

nav > ul{
   list-style: none;
   margin: 0px;
   padding: 0px;
   display: flex;

}
/* ul li{
   background-color: aqua;
   width: 250px;
   text-align: center;
   font-size: xx-large;
} */

ul a{
   display: block;
   width: 250px;
   text-align: center;
   font-size: xx-large;
   line-height: 100px;
}

ul a:hover{
   background-color: #eee;
}

.box001{
   background-color: brown;
   width: 100px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

/*
   flexbox内に於いてはmarginの相殺が起こらない
   積み重なっていく
*/