/* スタイルが継承される */
@charset "utf-8";
h1 { 
      color: sandybrown;
      font-size: xx-large;
      text-align: center;
      font-weight: 900;
      text-decoration: underline;
      font-family: メイリオ,"Arial Black" monospace;
}
header{
      opacity: 0.6;
}
footer{
   opacity: 0.3;
}
body{
      font-family: メイリオ,"Arial Black" monospace;
}
main{
      border: 1px solid;
      font-size: 16px;
      /* line-height: 48px; */
      line-height: 2em;/*単位を抜いて指定すると継承したとき、継承先の文字幅のn倍の感覚になる。*/
      background-color: aliceblue;
}
ul {
   border: inherit;
   list-style-type: none;
   list-style-type: upper-latin;
   list-style: upper-latin ;
}
img{
   vertical-align: middle;
}
ol{
   list-style-type: circle;
   list-style-position: outside;
   list-style-image: url(../img/夜空のフリーアイコン.jpeg);
}

.box0{
   background-color: aliceblue;
   width: 800px;
   height: 600px;
   border-width: 2px;
   border-style: dotted;
   border-color: olivedrab;
   border-radius: 10px;
   margin: 80px auto;
   position: relative;
   /* border: orangered 10px solid; */
}
/* marginは相殺される（小さいほうのmarginが消される） */
.box00{
   background-color: gold;
   width: 50%;
   height: 50%;
   /* overflow: scroll; */
   border-radius: 10px;
   padding: 20px;
   /* margin-right: auto;
   margin-left: auto; */
   margin: 80px auto;
   /* position: relative; */
   position: absolute;
   top: -5px;
   left: 50px;
}
.box000{
   background-color: teal;
   display: inline-block;
   margin: 10px 100px;
   width: 300px;
   height: 200px;
   /* display: none; */
   /* position: fixed; */
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
}
.box001{
   background-color: sandybrown;
   display: inline-block;
   margin: 10px 100px;
   width: 300px;
   height: 200px;
   /* display: none; */
   /* position: fixed; */
   position: absolute;
   top: 50px;
   left: 20px;
   z-index: 3;
}
.box002{
   background-color: blueviolet;
   display: inline-block;
   margin: 10px 100px;
   width: 300px;
   height: 200px;
   /* display: none; */
   /* position: fixed; */
   position: absolute;
   top: 30px;
   left: 50px;
   z-index: 1;
}
.box100{
   background-color: blueviolet;
   display: inline-block;
   margin-bottom: 10px;
   width: calc((100% - 40px) / 3);
   height: 200px;
   /* display: none; */
   /* position: fixed; */
   z-index: 1;
   box-shadow: 5px 5px 3px blue;
   /* text-shadow: 5px 5px 3px blue; */
}
.box101{
   background-color: blueviolet;
   display: inline-block;
   /* margin-top: 10px; */
   width: calc((100% - 40px) / 3);
   height: 200px;
   /* display: none; */
   /* position: fixed; */
   z-index: 1;
   border-style: solid;
   border-width: 10px;
   border-color: sandybrown;
   box-sizing: border-box;
   background-image: url(../img/mountains-6544522_1920.jpg);
   background-size: cover;
   background-position: center;
   /* background: center/cover url(../img/mountains-6544522_1920.jpg); */

}
/* idセレクターは#によって行う。(idは固有。)*/
/* 属性セレクターは[]によって行う。 */
/* クラスセレクターは.kurasu の形で使われる */
/* floatによって画像をインラインから独立して表示させることが出来る。 */

#sakura_img{   
     float: right;
}
.nazo_image{
   clear: right;
}
/* 属性でセレクトできる。 */
/* 属性セレクタの部分一致選択には^$*がそれぞれ使われ、
   ([url^ = "https"]のような形で) 
   それぞれ、前方一致、後方一致、部分一致である。*/
/* 属性セレクタの組み合わせ。
a, b : 単純に複数のセレクタを対象にしている。ex .nazo_image, h1 
ab   : ex. h1.nazo_image のように、要素かつ属性という形で指定する。
a > b: ex. body > h2 のように、a直下のbのみを一括で選択するときに使う。
a b  : aの下にあるすべてのbが選択される。
a + b: aの直後にあるbを選択したいときに使う。*/

/* 疑似要素 */
body h1::before{
   content: '- ';
}
header > h1::after{
   content: ' -';
}

